<div id="bottom_nav">
  <a id="left_arrow_button"><i class="icon-chevron-sign-left icon-3x bottom-nav"></i></a>
  
  <a id="right_arrow_button"><i class="icon-chevron-sign-right icon-3x bottom-nav"></i>
    
  <a id="mute_button"><i class="icon-volume-down icon-3x bottom-nav"></i></a>
</div>