
  <div id="reflection">
   
    <h1><%= reflection.scripture %></h1>
    <br />
    <p><%= reflection.text.html_safe %></p>
    <br />
    <p><strong>Life Question</strong></p>
    <p><em><%= reflection.question %></em><p>
    <p><strong>Prayer</strong></p>
    <p><em><%= reflection.prayer %></em><p>

</div>
